<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
        <h1>
           about 
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, numquam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, numquam?</p>

    </section>
  </body>
</html>
