<head>
  <%-include('./inc/nav')%>
  
</head>
 <style>
  .form{
    position: absolute;
    left: 300px;
    top: 180px;
  }
  </style> 

<form class="form" action="/admin/add" method="post">
  <%-include('./inc/head')%>
  <input type="text" name="title" placeholder="name" required />
  <input type="text" name="long" placeholder="name" required />

  <input type="text" name="short" placeholder="password" required />
  <input type="submit" value="gonder" />
</form>
